@use "../../presets" as *;
@use "../../mixins" as *;

.ability {
  padding: 120px 0 145px;
  background-color: $color-light;

  &__caption {
    margin: 0 auto 80px;
    font-size: 50px;
    text-align: center;
    font-weight: 600;

    @include xl-min {
      font-size: 3.125rem;
    }

    @include xl-lg {
      font-size: 2.75rem;
    }

    @include lg {
      font-size: 2.25rem;
    }
  }
}