@use "../../presets" as *;
@use "../../mixins" as *;

.boost__item {
  display: flex;
  flex-direction: column;
  max-width: 409px;
  gap: $gap;

  @include lg {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-image {
    height: 201px;
    margin-bottom: 15px;
  }

  &-caption {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
  }

  &-descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.85rem;
    margin-bottom: 10px;
  }

  &-link {
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid $color-primary;
  }
}