@use "../../presets" as *;
@use "../../mixins" as *;

.navbar {
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include xl-min {
      gap: $gap 50px;
    }

    @include xl {
      justify-content: center;

      gap: 0 $gap;
    }

    @include unlist;
  }

  &__link {
    display: block;

    padding: 0.5em 0;
  }
}