$color-primary: #000000;
$color-accent: #ff6336;
$color-light: #fff8e4;
$color-white: #ffffff;
$color-gray: #cccccc;
$color-gray-light: #eeeeee;
$color-bg-secondary-1: #c9e8f2;
$color-bg-secondary-2: #dabc98;
$color-bg-secondary-3: #ff9c7d;