@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - $gap-xl, $container-width);

  margin-inline: auto;
}

.btn {
  border-width: 1px;
  border-style: solid;

  font-size: 1rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  &--light {
    border-color: rgba($color-primary, 0.5);
    background-color: $color-white;
  }

  &--dark {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }

  &--accent {
    color: $color-white;
    border-color: $color-accent;
    background-color: $color-accent;
  }

  &--sm {
    min-width: 120px;

    @include lg-min {
      min-height: 45px;
    }

    @include lg {
      min-height: 40px;
    }
  }

  &--md {
    @include lg-min {
      min-width: 160px;
      min-height: 60px;
    }

    @include lg-xs {
      min-width: 160px;
      min-height: 50px;
    }

    @include xs {
      min-width: 140px;
      min-height: 45px;
    }
  }

  &--lg {
    min-width: 193px;
    min-height: 60px;

    @include lg-xs {
      min-width: 163px;
      min-height: 50px;
    }

    @include xs {
      min-width: 110px;
      min-height: 35px;
    }

    @include md {
      min-width: 120px;
      min-height: 40px;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.text-underline {
  // text-decoration: underline;
  border-bottom: 1px solid $color-primary;
}